.heart {
    color: red; 
    font-size: 65pt;
    position: absolute;
    left: 148px;
    top: 50px;
    z-index: 3;
    
 }
 .first-words {
    font-family: impact;
    font-size: 46pt; 
    position: absolute; 
    z-index: 2;
    left: 130px;
    top: 70px;
 }
 .last-words {
    font-family: impact;
    font-size: 46pt; 
    position: absolute; 
    z-index: 2;
    left: 130px;
    top: 125px;
 }
 
 img{
    position: relative; 
    left: 10px;
    z-index: 1;
 }